html * {
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: black;
}

body {
    width: 1200px;
    height: 2000px;
    background-color: #e4e4e6;
    margin: auto auto;
    border-radius: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    text-align: center;
}

a {
    grid-column: 2;
    grid-row: 1;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
}

.link {
    font-size: 25px;
}


.coolBtn {
    width: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px black;
    border-radius: 3px;
    background-color: #c5c5c5;
    margin-right: 10px;
    transition: all .25s;
}

.coolBtn:hover{
    background-color: #858585;
}

.coolBtn:active {
    background-color: #858585;
    box-shadow: 0px 0px;
    transform: translateY(5px);
}