html {
    background-color: black;
}
body {
    width: 1200px;
    height: 2000px;
    background-color: #d4af37;
    margin: auto auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    text-align: center;
}

a {
    grid-column: 2;
    grid-row: 1;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.link {
    font-size: 25px;
}


.coolBtn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px black;
    border-radius: 3px;
    background-color: #ffd23f;
    margin-right: 10px;
    transition: all .5s;
}

.coolBtn:active {
    box-shadow: 0px 0px;
    transform: translateY(5px);
}